*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
 
}



.header h1{
    font-size: 40px;
    padding-left: 40px;
    color: #e04642;
    font-family: bungee;
    
  
}


.home{
    gap: 2rem;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.community{
    display: flex;
    align-items: center;
}


.kidslogo{
    margin-left: 10px;
    height: 195px;
    width: 195px;
    border-radius: 10px;
}



.commtext{
    font-size: 40px;
    margin-left: 30px;
}

.commtext2{
    font-size: 20px;
    margin-left: 30px;
    margin-top: 5px;
}

.commjoin{
    color: black;
    font-size: 18px;
    background-color:#e04642 ;
    border-radius: 10px;
    margin-left: 30px;
    margin-top: 10px;
    height: 40px;
    width: 200px;

}


.home .birthday video{
    height: 600px;
    width: 400px;
    object-fit: cover !important;
    border-radius: 20px !important;
 
    
}

.birthdayparties{
    border-radius: 20px;
    gap: 5rem;
    display: flex;
    justify-content: center;
    background-color: #e04642;
    
}

.bpimg img{
    height: 350px;
    width: 400px;
    
}

.bptext{
   margin-top: 20px;
    margin-right: 40px;
}

.bptext h1{
    font-size: 45px;
}

.bptext h2{
    margin-top: 30px;
    font-size: 45px;
}


.steps{
    color: #e04642;
    font-size: 30px;
    font-weight: bold;
}


@media (width < 780px){
    header{
        padding-left: 20px;
    }
}
